.container {
  display: flex;
  flex-direction: column;
  width: 226px;
  font-family: sans-serif; /* font-family: "Inter" is not close to design */
}
.pink-header {
  background: #bb27a7;
  border-radius: 20px 20px 0 0;
  align-items: center;
  color: #ffffff;
}
.type {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.header {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.upcoming {
  width: 113px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
.past {
  width: 113px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.border-bottom {
  border-bottom: 4px solid white;
}
.boarding-passes {
  width: 226px;
  background: #1e1e1e;
  border-radius: 0 0 20px 20px;
}
.travel {
  border-radius: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  margin-left: 12px;
  margin-right: 11px;
  padding-inline-start: 17px;
  padding-inline-end: 12px;
  padding-bottom: 7px;
}
.bottom {
  margin-bottom: 15px;
}
.bottom2 {
  margin-bottom: 88px;
}
.row1 {
  font-weight: 700;
  font-size: 20px;
  color: #bb27a7;
  line-height: 0;
}
.row2 {
  font-weight: 700;
  color: #1e1e1e;
}
.row3 {
  font-weight: 300;
  color: #bb27a7;
}
.row4 {
  font-weight: 700;
  color: #1e1e1e;
}
.row5 {
  font-weight: 300;
  color: #bb27a7;
}

.flex-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.font {
  font-size: 8px;
  line-height: 0;
}
